body {
    
}

/* Set padding to keep content from hitting the edges, only on {container-fluid} */
.body-content {
    padding-left: 9%;
    padding-right: 9%;
}

.navbar-content {
    padding-left: 9%;
    padding-right: 9%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 /*background-color dark blue*/
.bgOpamss {
    background-color: #0071B2;
}

.textOpamss {
    color: #006097;
}

.btnOpamss {
    background: #006097;
    border-color: #006097;
    color: #fff;
}
.btnOpamss:hover {
    background: #0071B2;
    color: #fff;
}

.desplegar {
    display: none;
}

/* estilos cards de modal detalle expediente*/
.tarjetas {
    border-style: solid;
    border-radius: 18px;
    border-width: 10px;
}

.green-card {
    border-color: #5EB48F;
    color: #5EB48F;
}
.grey-card {
    border-color: #575757;
    color: #575757;
}
.blue-card {
    border-color: #006097;
    color: #006097;
}

.green-card:hover {
    border-color: #49D99B;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.grey-card:hover {
    border-color: #898989;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.blue-card:hover {
    border-color: #0071B2;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.btnBlue {
    background-color: #006097;
    color: #fff;
}
.btnGrey {
    background-color: #575757;
    color: #fff;
}
.btnGreen {
    background-color: #5EB48F;
    color: #fff;
}


/* Estilo de cards de estado de expediente */
.tarjetas .flip-card-back {
    display: none;
}
.tarjetas:hover .card-body {
    transform: rotateY(180deg);
}
.tarjetas:hover .flip-card-front {
    display: none;
}
.tarjetas:hover .flip-card-back {
    display: block;
    width: auto;
    height: 8.3rem;
    transform: rotateY(180deg);
}

/*Icon size responsive*/
.fa-xl {
    font-size: 6rem;
}